* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    object-fit: cover;
}

main {
    display: flex;
    padding-left: 20px;
    gap: 20px;
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

i {
    color: #5a5858;
}

.container-esquerda {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
    padding-top: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 500;
}

.title div {
    display: flex;
    gap: 20px;
}

.contatos {
    overflow-x: hidden;
}

.container-esquerda img {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    object-fit: cover;
}

.caixa-de-pesquisa {
    display: flex;
    background-color: #E9E9E9;
    color: #5a5858;
    padding: 12px;
    border-radius: 18px;
    justify-content: space-between;

}

.caixa-de-pesquisa input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa-de-pesquisa:hover {
    border-bottom: 4px outset #10c7af;
    transition: 0.2s;
}

.caixa-de-pesquisa button {
    background-color: transparent;
    border: none;
}

.contato {
    padding: 8px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 500;
}

.contato:hover {
    background-color: #E9E9E9;
    box-shadow: gray;
    transition: 0.5s;
}

.container-direita {
    height: 100vh;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    gap: 5px;
    border-left: 2px solid #E9E9E9;
}

.titulo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 500;
}

.titulo img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    object-fit: cover;
}

.contact {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.conversa {
    min-height: 85vh;
    max-height: 85%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #EFEEEA;
    padding: 15px;
    gap: 20px;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 400;
}

.conversa-user {
    display: flex;
    justify-content: right;
}

.conversa-user p {
    background-color: #E9FEDD;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: end;
    gap: 5px;
}

.conversa-user span {
    color: #6F7C66;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    justify-content: right;
}

.conversa-contact {
    display: flex;
    justify-content: left;
}

.conversa-contact p {
    border-radius: 20px;
    background-color: #FCFCFC;
    padding: 10px;
    display: flex;
    align-items: end;
    gap: 5px;
}

.conversa-contact span {
    color: #6F7C66;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    justify-content: right;
}

.enviar-mensagem {
    width: 100%;
    display: flex;
    gap: 30px;
    color: black;
    align-items: center;
    padding: 20px;
}

.enviar-mensagem input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}