* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCFCFC;
}

main {
    display: flex;
    padding: 20px;
    gap: 30px;
    max-height: 100vh;
}

.container-esquerda {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;

}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title div {
    display: flex;
    gap: 20px;
}

.contatos {
    overflow-x: hidden;
}

.container-esquerda img {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    object-fit: cover;
}

.caixa-de-pesquisa {
    display: flex;
    background-color: #FCFCFC;
    color: #E9E9E9;
    padding: 10px;
    border-radius: 8px;
    justify-content: space-between;
    border-style: solid;
    border-color: #E9E9E9;
}

.caixa-de-pesquisa input {
    background-color: transparent;
    border: none;
    outline: none;
}

.caixa-de-pesquisa button {
    background-color: transparent;
    border: none;
}

.contato {
    padding: 8px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    display: flex;
}

.contato:hover {
    background-color: #E9E9E9;
    box-shadow: 0 0 8px 1px gray;
    transition: 0.5s;
}



.container-direita {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    gap: 30px;
}

.titulo {
    /* position: ; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* border-color: gray;
    border-style: hidde; */
}

.titulo img {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    object-fit: cover;
}

.contact {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.conversa {
    max-height: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #EFEEEA;
    padding: 15px;
    gap: 20px;
    overflow-x: hidden;
}

.conversa-user {
    display: flex;
    justify-content: right;

}

.conversa-user p {
    border-radius: 10px;
    background-color: #E9FEDD;
    padding: 10px;
}

.conversa-contact {
    display: flex;
    justify-content: left;

}

.conversa-contact p {
    border-radius: 20px;
    background-color: #FCFCFC;
    padding: 10px;
}

.enviar-mensagem {
    width: 100%;
    display: flex;
    gap: 30px;
    color: black;
    align-items: center;
    border-color: #E9E9E9;
    border-style: solid;
    padding: 20px;
}

.enviar-mensagem input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}